*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
.bgi{
  background-image: url(./img/bg.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
.bgi-glove img{
  position: absolute;
  opacity: 70%;
  bottom: -220px;
  right: -250px;
  animation-name: runloop;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  overflow: hidden;
  animation-timing-function: linear;
}

@keyframes runloop{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.hcontent{
  width: 70%;
  margin: 220px auto;
  text-align: center;
}
.hcontent h1{
  color: white;
  font-size: 60px;
  font-weight: 700;
}
.hcontent p{
  margin: 20px auto;
  color: white;
  width: 55%;
}
.hcontent button{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: 800;
  transition: .4s;
}

.hcontent button:hover{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgb(7, 96, 123);
  color: rgb(255, 255, 255);
  font-weight: 800;
}